.defaultButton {
	padding: 0 0.5rem;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	font-family: inherit;
}

.defaultButton:focus {
	/*Change this color*/
	border: 1px solid var(--pink-accent);
	outline: 0;
}

.submitButton {
	composes: defaultButton;
	margin-left: -3rem;
	padding-right: 0;
}

.submitButton:disabled {
	cursor: default;
}

.undoButton {
	composes: defaultButton;
	color: var(--text-white);
	font-size: inherit;
	font-weight: 400;
	text-transform: uppercase;
	border: 1px solid var(--text-white);
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	margin-left: 1rem;
	transition: all 300ms ease-in-out;
}

.undoButton:hover {
	color: var(--dark-blue-bg);
	background-color: var(--text-white);
}

.resetButton {
	composes: defaultButton;
	font-size: 1em;
	color: var(--text-white);
	border: 1px solid transparent;
	padding: 1rem 1.5rem;
	border-radius: 1.25rem;
	transition: all 300ms ease-in-out;
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}

.resetButton:hover {
	color: var(--light-blue-bg);
	background-color: var(--text-white);
}

@media only screen and (min-width: 600px) {
	.resetButton {
		font-size: 1.25em;
		margin-top: 1rem;
	}
}
