.defaultButton {
	padding: 0 0.5rem;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	font-family: inherit;
}

.defaultButton:focus {
	/*Change this color*/
	border: 1px solid hotpink;
	outline: 0;
}

.submitButton {
	composes: defaultButton;
	margin-left: -3rem;
	padding-right: 0;
}

.submitButton:disabled {
	cursor: default;
}

.undoButton {
	composes: defaultButton;
	color: var(--text-white);
	font-size: inherit;
	font-weight: 700;
	text-transform: uppercase;
	font-weight: 400;
	border: 1px solid var(--text-white);
	border-radius: 0.5rem;
	padding: 0.25rem;
}
