.appContainer {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	display: grid;
	place-items: center;
	margin-top: auto;
	margin-bottom: auto;
}

.header {
	text-align: center;
	padding: 3rem 0;
	font-weight: 700;
}

.mainP {
	color: var(--light-blue-detail);
	font-size: 1em;
	text-transform: uppercase;
}

.mainHeading {
	color: var(--text-white);
	font-size: 6em;
}

.footer {
	margin-top: auto;
	text-align: center;
	padding-bottom: 3rem;
	font-size: 1em;
	color: var(--light-blue-detail);
}

.footerLink {
	color: var(--blue-accent);
	text-decoration: none;
	font-weight: 700;
}

.footerLink:visited {
	color: var(--dark-blue-detail);
}

.footerLink:hover {
	color: var(--pink-accent);
}

@media only screen and (min-width: 600px) {
	.header {
		padding-top: 4rem;
	}

	.mainHeading {
		font-size: 8em;
	}

	.footer {
		padding-bottom: 3rem;
	}
}

@media only screen and (min-width: 1200px) {
	.header {
		padding-top: 6rem;
	}

	.mainHeading {
		font-size: 10em;
	}

	.footer {
		padding-bottom: 3rem;
	}

	.mainP {
		font-size: 1.5em;
	}
}
