.textInput {
	min-width: 15rem;
	padding: 1rem 1.5rem;
	padding-right: 3rem;
	border-style: none;
	border-radius: 2rem;
	font-family: inherit;
	font-size: 1rem;
	transition: all 300ms ease-in-out;
	outline: none;
	/* Change this color*/
	color: gray;
}

.textInput:focus {
	box-shadow: 0 0 0 3px var(--blue-accent);
}

/* .textInput::placeholder {
	 text-align: center; 
} */
