.main {
	display: grid;
	place-items: center;
}

.mainP {
	color: var(--light-blue-detail);
	font-size: 1em;
	text-align: center;
	margin-top: 0;
}

.mainHeading {
	color: var(--text-white);
	font-size: 10em;
	text-align: center;
	margin-bottom: 0;
}
