.secondaryHeading {
	font-size: 1.5em;
	font-weight: 400;
	color: var(--light-blue-detail);
	text-transform: uppercase;
}

.tasksContainer {
	width: 100%;
	margin: 2rem 0;
}

@media only screen and (min-width: 1200px) {
	.secondaryHeading {
		font-size: 2em;
	}
}
